<!DOCTYPE html>
<html lang="en">
<head>
	<title>T.N.Rao School</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Grand+Hotel|Lato:300,400,700,900&display=swap">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="icon" href="images/favicon.png">
</head>
<body style="overflow: hidden;">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
	<header>
		<div class="header_top">
			<div class="container">
				<div class="header_top_left float-left">
					<span><img src="images/mail.png" alt="icon"><a
							href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
					<span><img src="images/phone.png" alt="icon">Call us Now : <a
							href="tel:02812970473">0281-2970473</a></span>
				</div>
				<div class="header_top_right float-right">
					<span><img src="images/location.png" alt="icon">Behind Saurashtra Uni, Computer Bhavan,
						Rajkot</span>
				</div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="container">
				<div class="mobile_only logo">
					<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#collapsibleNavbar">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
				</div>
				<nav class="navbar navbar-expand-lg">
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<div class="left_side_menu">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('index')">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="javascript:routeTo('about')">About Us</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);"
										id="navbardrop_campus" data-toggle="dropdown">Campus</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('facilities')">Facilties</a>
										<a class="dropdown-item" href="javascript:routeTo('hiTechEnvironment')">Hi Tech
											Environment</a>
										<a class="dropdown-item"
											href="javascript:routeTo('intellectualDevelopment')">Intellectual
											Development</a>
										<a class="dropdown-item" href="javascript:routeTo('studentCorner')">Student
											Corner</a>
										<a class="dropdown-item" href="javascript:routeTo('curricularActivities')">Co-Curricular Activities</a>
										<a class="dropdown-item" href="javascript:routeTo('infrastructure')">Infrastructure</a>
										<a class="dropdown-item" href="javascript:routeTo('liveCamera')">Live Camera</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('events')">Events</a>
								</li>
							</ul>
						</div>
						<div class="desktop_only logo">
							<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
						</div>
						<div class="right_side_menu">
							<ul class="navbar-nav ml-lg-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_forms"
										data-toggle="dropdown">Forms</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('admissionInquiry')">Admission
											Inquiry</a>
										<a class="dropdown-item"
											href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
											Certificate Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('bonafideApplicationForm')">Bonafide
											Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format
											Teacher Application</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_resources" data-toggle="dropdown">Resources</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('resources')">Academic Calender</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">CBSE Affiliation Letter</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">OASIS 2018-2019</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">Ataff Information for CBSE</a>
										<a class="dropdown-item" href="javascript:routeTo('transferCertificates')">Transfer Certificates</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('contactUs')">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<section class="page_breadcrumb text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="page_title">
						<h1>About Us</h1>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="d-flex flex-wrap align-content-center" style="height: 100%;">
						<ul>
							<li><a href="javascript:routeTo('index')" class="text-white">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center text_section">
		<div class="container">
			<h6 data-aos="fade-down" data-aos-duration="1000">
				The campus is located in the centre of the city next to Saurashtra University. The campus hosts two large buildings named ‘Saraswati’ and ‘Sharda’ in a lush green surrounding. It has easy accessible transport facilities.
			</h6>
		</div>
	</section>
	<section class="intellectual_development_tab_section about_school_section">
		<div class="container">
			<div class="section_title_type_three">
				<h2>About School</h2>
				<h3 class="text_orange">Welcome to T. N. Rao School</h3>
			</div>
			<div id="development_tab" data-aos="fade-up" data-aos-duration="1000">
				<ul class="development_tab_title row">
					<li class="col-md-4 pink_arrow">
						<a href="#tab-1">
							<img src="images/icon_mission.png" alt="icon_with_bg">
							<p>Our Mission</p>
						</a>
					</li>
					<li class="col-md-4 green_arrow">
						<a href="#tab-2">
							<img src="images/icon_philosophy.png" alt="icon_with_bg">
							<p>Our Philosophy</p>
						</a>
					</li>
					<li class="col-md-4 blue_arrow">
						<a href="#tab-3">
							<img src="images/icon_objectives.png" alt="icon_with_bg">
							<p>Our Objectives</p>
						</a>
					</li>
				</ul>
				<div class="development_tab_content pink_arrow">
					<div id="tab-1">
						<h4 class="text_pink">Our Mission</h4>
						<ul>
							<li>TN Rao School for Girls endeavours to prepare each student to enable them to develop intellectual powers as well as strength of culture, morality and spirituality.</li>
						</ul>
					</div>
				</div>
				<div class="development_tab_content green_arrow">
					<div id="tab-2">
						<h4 class="text_green">Our Philosophy</h4>
						<ul>
							<li>to guide students toward intellectual, artistic, physical, technological, and social competence.</li>
							<li>to spark passion. We want children to become deeply and personally involved in their work, to feel not only accountable, but engaged.</li>
							<li>to cultivate depth of character. We want students to develop empathy, imagination, and moral courage; ethical values; a sense of humility; and a habit of service.</li>
							<li>to help students gain self-knowledge: to learn about their own strengths and weaknesses within a supportive environment that fosters open and realistic communication.</li>
							<li>to foster a sense of community. Accordingly, we strive to create a rich public life in the school, where students learn to express their opinions effectively and responsibly, and to consider respectfully the opinions of others.</li>
						</ul>
					</div>
				</div>
				<div class="development_tab_content blue_arrow">
					<div id="tab-3">
						<h4 class="text_blue">Our Objectives</h4>
						<ul>
							<li>We believe that school is an educational experience. It's where you form your opinions, values, likes and dislikes. School is a second home, and the people in the school, second family. Each one of us is a student on a journey. Each one of us is a teacher, sharing our varied experiences.</li>
							<li>We believe that each child is unique. At our school, we encourage students to be themselves. Our students are given the space they need to discover, grow, change and experiment.</li>
							<li>Finally, Education is not making a child ambitious. The child does not have to prove that she has some worth by bringing in gold medals, whether it is in sports, dancing, art or debate. This is our misplaced social conditioning. The ‘Atmopnishad’ says that our internal self is victim of ‘ambition’ and we become vulnerable to baser elements like jealousy, frustration, anger, greed and suicidal feelings.</li>
							<li>Every child is unique. Let individuality in child grow. Acknowledge the potential within the child and help it to blossom to its full potential. Let the child be herself.</li>
							<li>Welcome to the journey of expanding and blossoming of our child’s potential.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- <section class="about_school_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 mb-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
					<div class="about_content">
						<img src="images/icon_mission.png" alt="icon_with_bg">
						<h4>Our mission</h4>
						<p>
							T. N. Rao school for girls endeavours to prepare each student to enable them to develop
							intellectual powers as well as strength of culture, morality and spirituality.
						</p>
					</div>
				</div>
				<div class="col-lg-4 mb-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
					<div class="about_content">
						<img src="images/icon_philosophy.png" alt="icon_with_bg">
						<h4>Our Philosophy</h4>
						<p>
							We believe that school is an educational experience. It’s where you form your opinions,
							values, likes, and dislikes. School is a second home, and the people in the school, a second
							family. Each one of us is a student on a journey. Each one of us is a teacher, sharing our
							varied experiences. We believe that each child is unique. At our school, we encourage
							students to be themselves. Our students are given the space they need to discover, grow,
							change and experiment. Students from T N Rao school for girls look forward to a future in
							which the world is theirs.
						</p>
						<a href="javascript:void(0);" class="more_btn text_green">Read More!<i
								class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<a href="javascript:void(0);" style="display: none;" class="less_btn text_green">Read less!<i
								class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-lg-4 mb-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
					<div class="about_content">
						<img src="images/icon_objectives.png" alt="icon_with_bg">
						<h4>Our objectives</h4>
						<p>
							We want children to become deeply and personally involved in their work, to feel not only
							accountable but engaged.To cultivate depth of character. We want students to develop
							empathy, imagination, and moral courage; ethical values; a sense of humility; and a habit of
							service.to help students gain self-knowledge: to learn about their own strengths and
							weaknesses within a supportive environment that fosters open and realistic communication. to
							foster a sense of community. Accordingly, we strive to create a rich public life in the
							school, where students learn to express their opinions effectively and responsibly and to
							consider respectfully the opinions of others.
						</p>
						<a href="javascript:void(0);" class="more_btn text_blue">Read More!<i
								class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<a href="javascript:void(0);" style="display: none;" class="less_btn text_blue">Read less!<i
								class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<section class="art_education_section">
		<div class="container">
			<div data-aos="fade-up" data-aos-duration="1000">
				<div class="section_title_type_four text-center text-white">
					<h2>Arts Education</h2>
				</div>
				<div class="art_content text-white">
					<p>
						Always among the highest expression of every culture, the arts teach us much about every
						historical period through its literature, visual arts, music, dance, and drama. Today it is
						recognized that to be truly well educated ne must not only learn to appreciate the arts but must
						have rich opportunities to actively participate in creative work. The arts are languages that
						most people speak, cutting through individual differences in culture, educational background,
						and ability.
					</p>
					<p>
						They can bring every subject to life and turn abstractions into concrete reality. Learning
						through the arts often results in greater academic achievement and higher test scores. It
						develops creativity, interpretation skills, critical thinking and communication skills,
						observation skills and inquisitiveness in children. The art program has several of the following
						components.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="three_light_blue_box_section">
		<div class="container">
			<div class="form-row">
				<div class="col-sm-4 mb-sm-0 mb-4" data-aos="fade-up" data-aos-duration="1000">
					<div class="bg_blue music text-white p-4">
						<h4>Music</h4>
						<p>Folk Dance, <br>Classical Dance</p>
					</div>
				</div>
				<div class="col-sm-4 mb-sm-0 mb-4" data-aos="fade-up" data-aos-duration="1000">
					<div class="bg_blue dance text-white p-4">
						<h4>Dance</h4>
						<p>Vocal, Instrumental <br>(Tabla, Harmonium, Keyboard)</p>
					</div>
				</div>
				<div class="col-sm-4 mb-sm-0 mb-4" data-aos="fade-up" data-aos-duration="1000">
					<div class="bg_blue art text-white p-4">
						<h4>Art and Craft</h4>
						<p>Painting, paper crafts, drawing, <br>sketching etc</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="work_flow_tech_environment">
		<div class="container">
			<div class="form-row">
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/home_work.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_orange">Homework</h4>
							<p>
								Students will receive varying amounts of homework depending upon their class. Homework is an extension of daily class work and is usually unfinished work.Homework may also be an extension of the learning concepts for the day that may be completed at home to reinforce various new facts. Reports or long rangeprojects may also be assigned and are necessary to help reinforce reading and writing skills.
							</p>
							<a href="javascript:void(0);" class="more_btn text_orange">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_orange">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/heritage_program.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_pink">Cultural Heritage Program</h4>
							<p>
								A number of events are celebrated in the school academic year. Annual School Function is conducted where the variety of cultures are explored through performances such as dance, skits and singing songs. School exhibition: ‘Dhamalmasti’ for the prep section where students can have fun with their family and the elder students can exhibit their talents through food items, articles, books, game zone, etc.  ‘Mathsomania’ for the students of std. 1st to 10th where they can have special counters to sell the items such as stationary, imitation jewellery, food items, tattoo making, paintings and drawing with special counters such as Maths zone to play Math games, Game zone, Book counters and Selfy zone. TNRSG also celebrates the festivals of India with special days’ celebration such as Republic Day, Independence Day, World Environment Day, Yoga Day, Health Day, Grandparents Day, etc.
							</p>
							<a href="javascript:void(0);" class="more_btn text_pink">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_pink">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/parents_meeting.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_green">Parent Teacher Meeting</h4>
							<p>
								This event is conducted to have one-to-one talk with the parents regarding the academic talks. This establishes a relationship between the educators and the parents. In the normal working days, schools normally do not encourage for frequent parent-teacher meets. It is on this day that the parents can inquire about the performances of children and the teachers provide the feedback about the children for their sound developments. Abhivyakti: The students are felicitated with the certificates of their grades after the completion of both the terms. Some other scholastic events celebrated in school are Investiture ceremony, Sports Day, etc.
							</p>
							<a href="javascript:void(0);" class="more_btn text_green">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_green">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/yoga_and_meditation.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_blue">Assembly</h4>
							<p>
								A school assembly is conducted every morning with a purposes of having gratitude towards the almighty through shlokas and prayers. Special health programs and communicating information are conducted on a daily or weekly basis which includes ‘Yoga and Meditation’, ‘Mass PT’, ‘Thought of the Day’, ‘Birthday Celebration’ of the students and special performances based on special days or occasions throughout the year. The morning assembly ends with ‘National Anthem’ sung by the staff and students.
							</p>
							<a href="javascript:void(0);" class="more_btn text_blue">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_blue">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/Life_Skill_Program.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_orange">Life Skills Program</h4>
							<p>
								World Health Organization has defined Life Skills as “the abilities for adaptive and positive behaviour that enable individuals to deal effectively with the demands and challenges of everyday life”. Life Skills educations helps in promotion of mental and social well being and competence in young children to face the realities of life. The ultimate aim of education is the overall development of personality which cannot be achieved without exposing students to various Life Skills. The ten core (generic) Life Skills as listed by WHO are Self Awareness, Empathy, Critical Thinking, Creative Thinking, Decision Making, Problem Solving, Effective Communication, Interpersonal Relationships, Coping with Stress and Managing Emotions. The school Life Skills program in all classes encourages opportunity for building skills and positive habits, recognition of self and ability to think and solve problems.
							</p>
							<a href="javascript:void(0);" class="more_btn text_orange">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_orange">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/Logic_and_Thinking_Skills.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_pink">Logic & Thinking Skills</h4>
							<p>
								The future well being of the world is going to require good thinking. Owing to the complexity in business and the professional world good thinking will be the key to success. Children are taught to solve logic puzzles, verbal and non verbal puzzles to enable them to prepare for competitive exams later. Several activities are conducted that teach Critical Thinking, Lateral Thinking and Creative Thinking. 
							</p>
							<a href="javascript:void(0);" class="more_btn text_pink">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_pink">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 col-sm-6">
						<div class="footer_content">
							<h4>Links</h4>
							<ul>
								<li><a href="javascript:routeTo('admissionInquiry')">Admission Inquiry</a></li>
								<li><a href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
										Certificate Application Form</a></li>
								<li><a href="javascript:routeTo('bonafideApplicationForm')">Bonafide Application
										Form</a></li>
								<li><a href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format Teacher
										Application</a></li>
								<li><a href="javascript:routeTo('transferCertificates')">Transfer Certificates</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-7">
						<div class="footer_content">
							<h4>Quick Links</h4>
							<ul>
								<li><a href="javascript:routeTo('facilities')">Facilties</a></li>
								<li><a href="javascript:routeTo('hiTechEnvironment')">Hi Tech Environment</a></li>
								<li><a href="javascript:routeTo('intellectualDevelopment')">Intellectual Development</a>
								</li>
								<li><a href="javascript:routeTo('studentCorner')">Student Corner</a></li>
								<li><a href="javascript:routeTo('curricularActivities')">Co-Curricular Activities</a></li>
								<li><a href="javascript:routeTo('infrastructure')">infrastructure</a></li>
								<li><a href="javascript:routeTo('liveCamera')">Live Camera</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-6 col-5">
						<div class="footer_content">
							<h4>Our Links</h4>
							<ul>
								<li><a href="javascript:routeTo('index')">Home</a></li>
								<li><a href="javascript:routeTo('about')">About us</a></li>
								<li><a href="javascript:routeTo('events')">Events</a></li>
								<li><a href="javascript:routeTo('resources')">Resources</a></li>
								<li><a href="javascript:routeTo('contactUs')">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-6">
						<div class="footer_content">
							<h4>Get in Touch</h4>
							<p>
								Please input an email address down below. address down below school. Please input an
								email. Below and school.
							</p>
							<ul class="social_share">
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Call Center</h4>
							<p>
								Join the elite group of other people who signed in on our mailing list.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Contact Details</h4>
							<p>
								Behind Saurashtra Uni. Computer Bhavan, Rajkot, Gujarat 360005
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_content">
							<h4>Contact Phone</h4>
							<p>
								<span>Telephone: <a href="tel:02812970473">0281-2970473</a></span>
								<span>Email: <a
										href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom text-center text-white">
			<div class="container">
				<p>© 2019 All Rights Reserved</p>
			</div>
		</div>
		<a class="back_to_top" href="javascript:void(0);">
			<i class="fa fa-chevron-up" aria-hidden="true"></i>
		</a>
	</footer>
	<script src="js/custom.js"></script>
</body>
</html>