<!DOCTYPE html>
<html lang="en">
<head>
	<title>T.N.Rao School</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Grand+Hotel|Lato:300,400,700,900&display=swap">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="icon" href="images/favicon.png">
</head>
<body style="overflow: hidden;">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
	<header>
		<div class="header_top">
			<div class="container">
				<div class="header_top_left float-left">
					<span><img src="images/mail.png" alt="icon"><a
							href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
					<span><img src="images/phone.png" alt="icon">Call us Now : <a
							href="tel:02812970473">0281-2970473</a></span>
				</div>
				<div class="header_top_right float-right">
					<span><img src="images/location.png" alt="icon">Behind Saurashtra Uni, Computer Bhavan,
						Rajkot</span>
				</div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="container">
				<div class="mobile_only logo">
					<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#collapsibleNavbar">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
				</div>
				<nav class="navbar navbar-expand-lg">
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<div class="left_side_menu">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('index')">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('about')">About Us</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link active dropdown-toggle" href="javascript:void(0);"
										id="navbardrop_campus" data-toggle="dropdown">Campus</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('facilities')">Facilties</a>
										<a class="dropdown-item active"
											href="javascript:routeTo('hiTechEnvironment')">Hi Tech
											Environment</a>
										<a class="dropdown-item"
											href="javascript:routeTo('intellectualDevelopment')">Intellectual
											Development</a>
										<a class="dropdown-item" href="javascript:routeTo('studentCorner')">Student
											Corner</a>
										<a class="dropdown-item" href="javascript:routeTo('curricularActivities')">Co-Curricular Activities</a>
										<a class="dropdown-item" href="javascript:routeTo('infrastructure')">Infrastructure</a>
										<a class="dropdown-item" href="javascript:routeTo('liveCamera')">Live Camera</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('events')">Events</a>
								</li>
							</ul>
						</div>
						<div class="desktop_only logo">
							<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
						</div>
						<div class="right_side_menu">
							<ul class="navbar-nav ml-lg-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_forms"
										data-toggle="dropdown">Forms</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('admissionInquiry')">Admission
											Inquiry</a>
										<a class="dropdown-item"
											href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
											Certificate Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('bonafideApplicationForm')">Bonafide
											Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format
											Teacher Application</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_resources" data-toggle="dropdown">Resources</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('resources')">Academic Calender</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">CBSE Affiliation Letter</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">OASIS 2018-2019</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">Staff Information for CBSE</a>
										<a class="dropdown-item" href="javascript:routeTo('transferCertificates')">Transfer Certificates</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('contactUs')">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<section class="page_breadcrumb text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="page_title">
						<h1>Hi-Tech Environment</h1>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="d-flex flex-wrap align-content-center" style="height: 100%;">
						<ul>
							<li><a href="javascript:routeTo('index')" class="text-white">Home</a></li>
							<li>Campus</li>
							<li>Hi-Tech Environment</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center text_section">
		<div class="container">
			<h6 data-aos="fade-down" data-aos-duration="1000">
				The school website shall keep you posted of all activities of the school and important information that
				will be helpful to you to deal proactively with your children.
			</h6>
		</div>
	</section>
	<section class="work_flow_tech_environment">
		<div class="container">
			<div class="form-row">
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/school.png" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_orange">The School Website</h4>
							<p>
								The School Website shall keep you posted of all activities of the school and important information that will be helpful to you to deal proactively with your children. There will be sections for parents, students and other stakeholders that will enable them to best make use of the information available for the betterment of the school and all stakeholders.
							</p>
							<a href="javascript:void(0);" class="more_btn text_orange">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_orange">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/Watch_through_CCTV.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_pink">Watch through CCTV</h4>
							<p>
								CCTV cameras are an integral part of every classroom. We use these to make recordings of teachers teaching and class and help them improve the quality of teaching. These cameras will also provide streaming footage over the internet which will enable you to watch live classroom teaching from the comfort of your home. We feel cameras will enhance the learning environment in the classroom.
							</p>
							<a href="javascript:void(0);" class="more_btn text_pink">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_pink">Read less!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/Technology_in_education.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_green">Technology in Education</h4>
							<p>
								Computers are being integrated into to day-to-day teaching from standard 1. Students are encouraged to learn and perform activities related to curriculum through programmes, games and activities designed specifically for learning. The students become computer-literate and at the same time improve their understanding of what is taught in the class. Computers are also used for supplementing class learning in various subjects.use of audio-visual aids shall be an integral part of the learning-teaching process which will aid in ensuring easier grasp of concepts.
							</p>
							<a href="javascript:void(0);" class="more_btn text_green">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_green">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="safety_and_security">
		<div class="container">
			<div class="row flex-row-reverse">
				<div class="col-xl-7 col-lg-6" data-aos="fade-up" data-aos-duration="1000">
					<div class="section_title_type_two text-white">
						<h3>Safety and Security<img src="images/rightArrowWhite.png" alt="right arrow"></h3>
						<h4>Don’t hear from us only</h4>
					</div>
					<div class="white_box p-4">
						<p>
							At the core of all activities at School is the safety and security of everyone on campus.
							We take the safety and security of our students, teachers and staff to be of prime
							importance. While we pride ourselves on the collaborative and supportive culture of the
							school, we take pragmatic steps in ensuring the physical and mental well being of all
							members of our learning community.
						</p>
					</div>
				</div>
				<div class="col-xl-5 col-lg-6" data-aos="fade-down" data-aos-duration="1000">
					<div class="safety_and_security_image">
						<img src="images/safety_and_security.jpg" class="img-fluid" alt="safety and security image">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="safe_campus_section">
		<div class="container">
			<h6 data-aos="fade-down" data-aos-duration="1000">The following steps have been taken in order to secure a
				safe campus</h6>
			<div class="steps_taken_to_safe_campus">
				<div class="row">
					<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
						<p><img src="images/blue.png" alt="icon">In house first aid available at the campus</p>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
						<p><img src="images/orange.png" alt="icon">In house transport services available at the campus
							for any medical emergencies</p>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
						<p><img src="images/pink.png" alt="icon">In house transport services available at the campus for
							any medical emergencies</p>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
						<p><img src="images/green.png" alt="icon">In house physiotherapy centre for the need of campus
							students and staff members</p>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
						<p><img src="images/blue.png" alt="icon">In house Ayurvedic hospital is available for any
							natural remedies on emergency basis</p>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
						<p><img src="images/orange.png" alt="icon">Fire safety</p>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
						<p><img src="images/pink.png" alt="icon">Infirmary/sick room</p>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
						<p><img src="images/green.png" alt="icon">All the school transport are well equipped with first
							aid for any emergencies</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 col-sm-6">
						<div class="footer_content">
							<h4>Links</h4>
							<ul>
								<li><a href="javascript:routeTo('admissionInquiry')">Admission Inquiry</a></li>
								<li><a href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
										Certificate Application Form</a></li>
								<li><a href="javascript:routeTo('bonafideApplicationForm')">Bonafide Application
										Form</a></li>
								<li><a href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format Teacher
										Application</a></li>
								<li><a href="javascript:routeTo('transferCertificates')">Transfer Certificates</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-7">
						<div class="footer_content">
							<h4>Quick Links</h4>
							<ul>
								<li><a href="javascript:routeTo('facilities')">Facilties</a></li>
								<li><a href="javascript:routeTo('hiTechEnvironment')">Hi Tech Environment</a></li>
								<li><a href="javascript:routeTo('intellectualDevelopment')">Intellectual Development</a>
								</li>
								<li><a href="javascript:routeTo('studentCorner')">Student Corner</a></li>
								<li><a href="javascript:routeTo('curricularActivities')">Co-Curricular Activities</a></li>
								<li><a href="javascript:routeTo('infrastructure')">infrastructure</a></li>
								<li><a href="javascript:routeTo('liveCamera')">Live Camera</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-6 col-5">
						<div class="footer_content">
							<h4>Our Links</h4>
							<ul>
								<li><a href="javascript:routeTo('index')">Home</a></li>
								<li><a href="javascript:routeTo('about')">About us</a></li>
								<li><a href="javascript:routeTo('events')">Events</a></li>
								<li><a href="javascript:routeTo('resources')">Resources</a></li>
								<li><a href="javascript:routeTo('contactUs')">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-6">
						<div class="footer_content">
							<h4>Get in Touch</h4>
							<ul class="social_share">
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Contact Details</h4>
							<p>
								Behind Saurashtra Uni. Computer Bhavan, Rajkot, Gujarat 360005
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_content">
							<h4>Contact Phone</h4>
							<p>
								<span>Telephone: <a href="tel:02812970473">0281-2970473</a></span>
								<span>Email: <a
										href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom text-center text-white">
			<div class="container">
				<div class="pb-3 developed">
				<div class="float-left">
					<p>© 2019 All Rights Reserved</p>
				</div>
				<div class="float-right">
					<p>Developed By: <a href="https://raoinformationtechnology.com/">Rao Information Technology</a></p>
				</div>
			</div>
			</div>
		</div>
		<a class="back_to_top" href="javascript:void(0);">
			<i class="fa fa-chevron-up" aria-hidden="true"></i>
		</a>
	</footer>
	<script src="js/custom.js"></script>
</body>
</html>