<!DOCTYPE html>
<html lang="en">
<head>
	<title>T.N.Rao School</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/aos.css">
	<link rel="stylesheet" type="text/css" href="css/responsive-tabs.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="icon" href="images/favicon.png">
</head>
<body style="overflow: hidden;">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
	<header>
		<div class="header_top">
			<div class="container">
				<div class="header_top_left float-left">
					<span><img src="images/mail.png" alt="icon"><a
							href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
					<span><img src="images/phone.png" alt="icon">Call us Now : <a
							href="tel:02812970473">0281-2970473</a></span>
				</div>
				<div class="header_top_right float-right">
					<span><img src="images/location.png" alt="icon">Behind Saurashtra Uni, Computer Bhavan,
						Rajkot</span>
				</div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="container">
				<div class="mobile_only logo">
					<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#collapsibleNavbar">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
				</div>
				<nav class="navbar navbar-expand-lg">
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<div class="left_side_menu">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('index')">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('about')">About Us</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle active" href="javascript:void(0);"
										id="navbardrop_campus" data-toggle="dropdown">Campus</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('facilities')">Facilties</a>
										<a class="dropdown-item" href="javascript:routeTo('hiTechEnvironment')">Hi Tech
											Environment</a>
										<a class="dropdown-item"
											href="javascript:routeTo('intellectualDevelopment')">Intellectual
											Development</a>
										<a class="dropdown-item" href="javascript:routeTo('studentCorner')">Student
											Corner</a>
										<a class="dropdown-item" href="javascript:routeTo('curricularActivities')">Co-Curricular Activities</a>
										<a class="dropdown-item active" href="javascript:routeTo('infrastructure')">Infrastructure</a>
										<a class="dropdown-item" href="javascript:routeTo('liveCamera')">Live Camera</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('events')">Events</a>
								</li>
							</ul>
						</div>
						<div class="desktop_only logo">
							<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
						</div>
						<div class="right_side_menu">
							<ul class="navbar-nav ml-lg-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_forms"
										data-toggle="dropdown">Forms</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('admissionInquiry')">Admission
											Inquiry</a>
										<a class="dropdown-item"
											href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
											Certificate Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('bonafideApplicationForm')">Bonafide
											Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format
											Teacher Application</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_resources" data-toggle="dropdown">Resources</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('resources')">Academic Calender</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">CBSE Affiliation Letter</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">OASIS 2018-2019</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">Ataff Information for CBSE</a>
										<a class="dropdown-item" href="javascript:routeTo('transferCertificates')">Transfer Certificates</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('contactUs')">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<section class="page_breadcrumb text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="page_title">
						<h1>Infrastructure</h1>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="d-flex flex-wrap align-content-center" style="height: 100%;">
						<ul>
							<li><a href="javascript:routeTo('index')" class="text-white">Home</a></li>
							<li>Campus</li>
							<li>Infrastructure</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center text_section">
		<div class="container">
			<h6 data-aos="fade-down" data-aos-duration="1000">
				A place where one can learn to express through the performance which has great impact on the onlookers. ‘Dance’ and ‘Drama’ are the art forms taught to students on various occasions, functions and special days celebrated in the school.
			</h6>
		</div>
	</section>
	<section class="intellectual_development_tab_section">
		<div class="container">
			<div id="development_tab" data-aos="fade-up" data-aos-duration="1000">
				<ul class="development_tab_title row">
					<li class="col-md-3 blue_arrow">
						<a href="#tab-1">
							<img src="images/tab_icon_blue.png" alt="tab icon">
							<p>Maths <br> Lab</p>
						</a>
					</li>
					<li class="col-md-3 orange_arrow">
						<a href="#tab-2">
							<img src="images/tab_icon_orange.png" alt="tab icon">
							<p>Science <br> Lab</p>
						</a>
					</li>
					<li class="col-md-3 pink_arrow">
						<a href="#tab-3">
							<img src="images/tab_icon_pink.png" alt="tab icon">
							<p>Music <br> Studio</p>
						</a>
					</li>
					<li class="col-md-3 green_arrow">
						<a href="#tab-4">
							<img src="images/tab_icon_green.png" alt="tab icon">
							<p>Art and Craft <br> Studio</p>
						</a>
					</li>
				</ul>
				<div class="development_tab_content blue_arrow">
					<div id="tab-1">
						<h4 class="text_blue">Maths Lab</h4>
						<ul>
						<li>“Tell me and I forget, Teach me and I remember, Involve me and I Learn”. The Maths lab is a place where students can practically learn and explore various mathematics concepts and verify various mathematical facts and theorems using a variety of activities. The lab is well equipped with necessary kits and tools. It provides an opportunity to the students to understand and internalize the basic mathematical concepts through concrete objects and situations. Practical participation of students generates more logical thinking and easy understanding.  All children are encouraged to conduct at least one math lab activity every week.</li>
							<li>Makes teaching and learning of the mathematics interactive, participatory, fun filled and joyful from the primary stage of schooling</li>
							<li>Strengthens the learning of mathematical concepts through concrete materials and hands-on-experiences</li>
							<li>Relates classroom learning to real life situations and discourages rote and mechanical learning</li>
						</ul>
					</div>
				</div>
				<div class="development_tab_content orange_arrow">
					<div id="tab-2">
						<h4 class="text_orange">Science Lab</h4>
						<ul>
							<li>‘The whole world is my laboratory’, said a well-known scientist.</li>
							<li>The School has well equipped Composite Science Lab which aims at enhancing children’s comprehension of scientific concepts and also acquiring basic experimental skills. The school science program emphasises enquiry approach and hands-on experience and encourages experimental work. All children are encouraged to conduct at least one experiment every week.</li>
							<li>The laboratory is well equipped to conduct experiments. Students are facilitated to perform experiments to learn, explore and observe their theoretical knowledge. There are ready charts and models available for students for their better understanding with a demo by the science faculties.</li>
						</ul>
					</div>
				</div>
				<div class="development_tab_content pink_arrow">
					<div id="tab-3">
						<h4 class="text_pink">Music Studio</h4>
						<ul>
							<li>Music is an integral part of our life. It helps in improving language skills, improved test scores, self-esteem and listening skills, making the brain work harder and help in relieving stress. Children of all ages love music. This activity starts right from class 1 and continues up to class 8. The school trains children in both – vocal and instrumental music. Children are taught songs in Gujarati, Hindi and also English with western and classical touch. Songs are also earmarked for special occasions like Independence Day, Republic Day, national and social festivals. Training in instrumental music starts from class 3. Students are trained in instruments according to their talent and ability. The school has instruments like Keyboard, Congo, Harmonium and Drums. Students are prepared to participate in different singing competitions too. </li>
						</ul>
					</div>
				</div>
				<div class="development_tab_content green_arrow">
					<div id="tab-4">
						<h4 class="text_green">Art and Craft Studio</h4>
						<ul>
							<li>Art is a creative expression of an individual. The art and craft studio promotes amongst students aesthetic sense and the ability to express themselves in different forms. Students learn to draw, paint, sketch and create artistic models and learn several craft techniques that can be easily used in day to day life.</li>
							<li>The Art program encourages creativity and also teaches students to appreciate art in different forms. It introduces students to different media and techniques for creative expression. It also provides opportunities for development of folk arts and creates awareness of the rich and cultural heritage of India. Students learn to appreciate the beauty of nature in many forms.</li>
							<li>Students are encouraged to apply learnt skills to practical life situations. This includes soft board decorations, festive decorations, wall paintings, school and classroom decoration.</li>
							<li>Art workshops are conducted to expose students to clay work, pottery, batik work, photography, weaving, collage making etc.</li>
							<li>Students are also encouraged for various competitive exams.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="art_education_section">
		<div class="container">
			<div data-aos="fade-up" data-aos-duration="1000">
				<div class="section_title_type_four text-center text-white">
					<h2>Kindergarten</h2>
				</div>
				<div class="art_content text-white">
					<p> 
						Children’s early learning experiences have a profound effect on their development. These early interactions directly affect the way connections are made in the brain. Early learning experiences are crucial to the future well-being of children, and establish the foundation for the acquisition of knowledge and skills that will affect later learning and behaviour. Children arrive at school with different backgrounds and experiences and at different stages of development. Positive early experiences with school are of paramount importance to young children. Children thrive within classrooms that meet their physical and developmental needs and that provide a secure, respectful, and nurturing environment.
					</p>
					<p class="pb-0">
						Attractive and colourful Kindergarten provides a learning environment that is inclusive and it is one in which children feel comfortable and safe, yet stimulated to learn and explore. The environment encourages empathy, interest in trying new things and the development of self-confidence. The Kindergarten follows Montessori Method of education that allows children to learn at their own pace and consists of a balance of investigation or exploration, guided instruction, and explicit instruction.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="work_flow_tech_environment">
		<div class="container">
			<div class="form-row">
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/Recitation.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_orange">Recitation</h4>
							<p>
								Poetry recitation is an idea, an art and a feeling, accentuated with the use of distinctive style and rhythm, delivered through a public speaking. It’s a way of expressing the thoughts in a poetic way. Students are thus, taught to recite poems and express themselves. To increase their levels every year, recitation competitions are conducted twice in a year with final recitation round at the end of the year in English, Hindi and Gujarati.
							</p>
							<a href="javascript:void(0);" class="more_btn text_orange">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_orange">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/Story_Telling.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_pink">Story-telling</h4>
							<p>
								Children have an innate love of stories. Stories teach us about life, about ourselves and about others. Storytelling is a unique way for students to develop an understanding, respect and appreciation for other cultures. Students are taught to retell stories in their own way, with their own dialogues and level of their understandings. To increase their level year by year, competitions are conducted twice in a year for English, Hindi and Gujarati languages.
							</p>
							<a href="javascript:void(0);" class="more_btn text_pink">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_pink">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4" data-aos="fade-zoom-in" data-aos-duration="1000">
					<div class="word_card">
						<div class="work_image">
							<img src="images/General_Knowledge.jpg" class="img-fluid" alt="work image">
						</div>
						<div class="work_content p-3">
							<h4 class="text_green">Quiz (G.K.)</h4>
							<p>
								A quiz culture is conducted in school for better learning of the things which are out-of-syllabus. Students get interactive platform, require critical thinking and extensive research which gets them into the habit of innovative learning from an early age. Quiz encourages team work and bridges academia-industry gap. Students from Std. 1st to 8th face four rounds of G.K. quiz in their own classes and the final round is conducted between the four houses [Blue, Green, Red and Yellow] before the end of the year.
							</p>
							<a href="javascript:void(0);" class="more_btn text_green">Read More!<i
									class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							<a href="javascript:void(0);" style="display: none;" class="less_btn text_green">Read
								less!<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 col-sm-6">
						<div class="footer_content">
							<h4>Links</h4>
							<ul>
								<li><a href="javascript:routeTo('admissionInquiry')">Admission Inquiry</a></li>
								<li><a href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
										Certificate Application Form</a></li>
								<li><a href="javascript:routeTo('bonafideApplicationForm')">Bonafide Application
										Form</a></li>
								<li><a href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format Teacher
										Application</a></li>
								<li><a href="javascript:routeTo('transferCertificates')">Transfer Certificates</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-7">
						<div class="footer_content">
							<h4>Quick Links</h4>
							<ul>
								<li><a href="javascript:routeTo('facilities')">Facilties</a></li>
								<li><a href="javascript:routeTo('hiTechEnvironment')">Hi Tech Environment</a></li>
								<li><a href="javascript:routeTo('intellectualDevelopment')">Intellectual Development</a>
								</li>
								<li><a href="javascript:routeTo('studentCorner')">Student Corner</a></li>
								<li><a href="javascript:routeTo('curricularActivities')">Co-Curricular Activities</a></li>
								<li><a href="javascript:routeTo('infrastructure')">infrastructure</a></li>
								<li><a href="javascript:routeTo('liveCamera')">Live Camera</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-6 col-5">
						<div class="footer_content">
							<h4>Our Links</h4>
							<ul>
								<li><a href="javascript:routeTo('index')">Home</a></li>
								<li><a href="javascript:routeTo('about')">About us</a></li>
								<li><a href="javascript:routeTo('events')">Events</a></li>
								<li><a href="javascript:routeTo('resources')">Resources</a></li>
								<li><a href="javascript:routeTo('contactUs')">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-6">
						<div class="footer_content">
							<h4>Get in Touch</h4>
							<p>
								Please input an email address down below. address down below school. Please input an
								email. Below and school.
							</p>
							<ul class="social_share">
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Call Center</h4>
							<p>
								Join the elite group of other people who signed in on our mailing list.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Contact Details</h4>
							<p>
								Behind Saurashtra Uni. Computer Bhavan, Rajkot, Gujarat 360005
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_content">
							<h4>Contact Phone</h4>
							<p>
								<span>Telephone: <a href="tel:02812970473">0281-2970473</a></span>
								<span>Email: <a
										href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom text-center text-white">
			<div class="container">
				<p>© 2019 All Rights Reserved</p>
			</div>
		</div>
		<a class="back_to_top" href="javascript:void(0);">
			<i class="fa fa-chevron-up" aria-hidden="true"></i>
		</a>
	</footer>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/TweenMax.min.js"></script>
	<script src="js/jquery.lettering.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.responsiveTabs.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>