<!DOCTYPE html>
<html>
<head>
	<title>T.N.Rao School</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/aos.css">
	<link rel="stylesheet" type="text/css" href="css/responsive-tabs.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="icon" href="images/favicon.png">
</head>
<body style="overflow: hidden;">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
	<header>
		<div class="header_top">
			<div class="container">
				<div class="header_top_left float-left">
					<span><img src="images/mail.png" alt="icon"><a
							href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
					<span><img src="images/phone.png" alt="icon">Call us Now : <a
							href="tel:02812970473">0281-2970473</a></span>
				</div>
				<div class="header_top_right float-right">
					<span><img src="images/location.png" alt="icon">Behind Saurashtra Uni, Computer Bhavan,
						Rajkot</span>
				</div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="container">
				<div class="mobile_only logo">
					<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#collapsibleNavbar">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
				</div>
				<nav class="navbar navbar-expand-lg">
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<div class="left_side_menu">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('index')">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('about')">About Us</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);"
										id="navbardrop_campus" data-toggle="dropdown">Campus</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('facilities')">Facilties</a>
										<a class="dropdown-item" href="javascript:routeTo('hiTechEnvironment')">Hi Tech
											Environment</a>
										<a class="dropdown-item"
											href="javascript:routeTo('intellectualDevelopment')">Intellectual
											Development</a>
										<a class="dropdown-item" href="javascript:routeTo('studentCorner')">Student
											Corner</a>
										<a class="dropdown-item" href="javascript:routeTo('liveCamera')">Live Camera</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('events')">Events</a>
								</li>
							</ul>
						</div>
						<div class="desktop_only logo">
							<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
						</div>
						<div class="right_side_menu">
							<ul class="navbar-nav ml-lg-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_forms"
										data-toggle="dropdown">Forms</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('admissionInquiry')">Admission
											Inquiry</a>
										<a class="dropdown-item"
											href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
											Certificate Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('bonafideApplicationForm')">Bonafide
											Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format
											Teacher Application</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_resources" data-toggle="dropdown">Resources</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('resources')">Academic Calender</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">CBSE Affiliation Letter</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">OASIS 2018-2019</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">Ataff Information for CBSE</a>
										<a class="dropdown-item" href="javascript:routeTo('transferCertificates')">Transfer Certificates</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('contactUs')">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<section class="page_not_found">
		<div class="container">
			<div class="text-center">
				<h2 class="text_orange">404</h2>
				<h3 class="text-dark">page not found</h3>
			</div>
        </div>
    </section>
	<footer>
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 col-sm-6">
						<div class="footer_content">
							<h4>Links</h4>
							<ul>
								<li><a href="javascript:routeTo('admissionInquiry')">Admission Inquiry</a></li>
								<li><a href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
										Certificate Application Form</a></li>
								<li><a href="javascript:routeTo('bonafideApplicationForm')">Bonafide Application
										Form</a></li>
								<li><a href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format Teacher
										Application</a></li>
								<li><a href="javascript:routeTo('transferCertificates')">Transfer Certificates</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-7">
						<div class="footer_content">
							<h4>Quick Links</h4>
							<ul>
								<li><a href="javascript:routeTo('facilities')">Facilties</a></li>
								<li><a href="javascript:routeTo('hiTechEnvironment')">Hi Tech Environment</a></li>
								<li><a href="javascript:routeTo('intellectualDevelopment')">Intellectual Development</a>
								</li>
								<li><a href="javascript:routeTo('studentCorner')">Student Corner</a></li>
								<li><a href="javascript:routeTo('liveCamera')">Live Camera</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-6 col-5">
						<div class="footer_content">
							<h4>Our Links</h4>
							<ul>
								<li><a href="javascript:routeTo('index')">Home</a></li>
								<li><a href="javascript:routeTo('about')">About us</a></li>
								<li><a href="javascript:routeTo('events')">Events</a></li>
								<li><a href="javascript:routeTo('resources')">Resources</a></li>
								<li><a href="javascript:routeTo('contactUs')">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-6">
						<div class="footer_content">
							<h4>Get in Touch</h4>
							<p>
								Please input an email address down below. address down below school. Please input an
								email. Below and school.
							</p>
							<ul class="social_share">
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<hr>
				</hr>
				<div class="row">
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Call Center</h4>
							<p>
								Join the elite group of other people who signed in on our mailing list.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Contact Details</h4>
							<p>
								Laura Shambrook School Administrator 161 Finchampstead Road
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_content">
							<h4>Contact Phone</h4>
							<p>
								<span>Telephone: <a href="tel:02812970473">0281-2970473</a></span>
								<span>Email: <a
										href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom text-center text-white">
			<div class="container">
				<p>© 2019 All Rights Reserved</p>
			</div>
		</div>
		<a class="back_to_top" href="javascript:void(0);">
			<i class="fa fa-chevron-up" aria-hidden="true"></i>
		</a>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/TweenMax.min.js"></script>
	<script type="text/javascript" src="js/jquery.lettering.min.js"></script>
	<script type="text/javascript" src="js/aos.js"></script>
	<script type="text/javascript" src="js/jquery.responsiveTabs.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>