<!DOCTYPE html>
<html lang="en">
<head>
	<title>T.N.Rao School</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/aos.css">
	<link rel="stylesheet" type="text/css" href="css/responsive-tabs.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="icon" href="images/favicon.png">
</head>
<body style="overflow: hidden;">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
	<header>
		<div class="header_top">
			<div class="container">
				<div class="header_top_left float-left">
					<span><img src="images/mail.png" alt="icon"><a
							href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
					<span><img src="images/phone.png" alt="icon">Call us Now : <a
							href="tel:02812970473">0281-2970473</a></span>
				</div>
				<div class="header_top_right float-right">
					<span><img src="images/location.png" alt="icon">Behind Saurashtra Uni, Computer Bhavan,
						Rajkot</span>
				</div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="container">
				<div class="mobile_only logo">
					<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#collapsibleNavbar">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
				</div>
				<nav class="navbar navbar-expand-lg">
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<div class="left_side_menu">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('index')">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('about')">About Us</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);"
										id="navbardrop_campus" data-toggle="dropdown">Campus</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('facilities')">Facilties</a>
										<a class="dropdown-item" href="javascript:routeTo('hiTechEnvironment')">Hi Tech
											Environment</a>
										<a class="dropdown-item"
											href="javascript:routeTo('intellectualDevelopment')">Intellectual
											Development</a>
										<a class="dropdown-item" href="javascript:routeTo('studentCorner')">Student
											Corner</a>
										<a class="dropdown-item" href="javascript:routeTo('curricularActivities')">Co-Curricular Activities</a>
										<a class="dropdown-item" href="javascript:routeTo('infrastructure')">Infrastructure</a>
										<a class="dropdown-item" href="javascript:routeTo('liveCamera')">Live Camera</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('events')">Events</a>
								</li>
							</ul>
						</div>
						<div class="desktop_only logo">
							<a href="javascript:routeTo('index')"><img src="images/logo.png" alt="logo_image"></a>
						</div>
						<div class="right_side_menu">
							<ul class="navbar-nav ml-lg-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop_forms"
										data-toggle="dropdown">Forms</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('admissionInquiry')">Admission
											Inquiry</a>
										<a class="dropdown-item"
											href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
											Certificate Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('bonafideApplicationForm')">Bonafide
											Application Form</a>
										<a class="dropdown-item"
											href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format
											Teacher Application</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle active" href="javascript:void(0);" id="navbardrop_resources" data-toggle="dropdown">Resources</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:routeTo('resources')">Academic Calender</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">CBSE Affiliation Letter</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">OASIS 2018-2019</a>
										<a class="dropdown-item" href="javascript:routeTo('resources')">Staff Information for CBSE</a>
										<a class="dropdown-item" href="javascript:routeTo('transferCertificates')">Transfer Certificates</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:routeTo('contactUs')">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<section class="page_breadcrumb text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="page_title">
						<h1>Resources</h1>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="d-flex flex-wrap align-content-center" style="height: 100%;">
						<ul>
							<li><a href="javascript:routeTo('index')" class="text-white">Home</a></li>
							<li>Resources</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center text_section">
		<div class="container">
			<h6 data-aos="fade-down" data-aos-duration="1000">
				Field Trips are important to help bridge the gap between education and hands-on experience. Visits to different places are arranged for the students of TNRSG for their better understanding and knowledge which not only helps them in their academics but also improves their inter-personal growth.
			</h6>
		</div>
	</section>
	<section class="art_education_section">
		<div class="container">
			<div data-aos="fade-up" data-aos-duration="1000">
				<div class="section_title_type_four text-center text-white">
					<h2>Academic Staff</h2>
				</div>
				<div class="art_content text-white">
					<p>
						The teaching fraternity is a highly qualified team of individuals. The teachers play a dynamic role in the functioning of the school and contribute significantly to after-school activities as well. The faculty view themselves as 'facilitators' in the educative process and maintain an open-communication system with the children. Teachers and students enjoy a good rapport that extends beyond the classroom.
					</p>
					<p>
						We place a lot of emphasis on professional development and upgradation of skills. The staff participates in a number of in-house and external training programmes that are conducted regularly. Periodic reviews and meetings are held to assess goals and chart new directions. This ensures that the system is a constantly evolving one that accommodates fresh perspectives and adapts to change.
					</p>
					<p class="pb-0">
						Our teachers are well-equipped to integrate technology in the classroom and also use it effectively to plan their lessons and prepare their assessment reports. Access to the Internet and the availability of a large bank of teaching resources ensures that teachers are updated with the latest trends in the teaching-learning process and are able to implement them in the classroom.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="resources_document_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xl-3 mb-4" data-aos="fade-up" data-aos-duration="1000">
					<a href="javascript:void(0);" class="document_title_with_icon" data-toggle="modal"
						data-target="#academicCalender">
						<img src="images/pdf_icon.png" class="img-fluid" alt="icon pdf">
						<h5 class="bg_green text-white text-center">Academic Calender</h5>
					</a>
				</div>
				<div class="col-sm-6 col-xl-3 mb-4" data-aos="fade-up" data-aos-duration="1000">
					<a href="javascript:void(0);" class="document_title_with_icon" data-toggle="modal"
						data-target="#cbscAffiliationLetter">
						<img src="images/pdf_icon.png" class="img-fluid" alt="icon pdf">
						<h5 class="bg_blue text-white text-center">CBSE Affiliation Letter</h5>
					</a>
				</div>
				<div class="col-sm-6 col-xl-3 mb-4" data-aos="fade-up" data-aos-duration="1000">
					<a href="javascript:void(0);" class="document_title_with_icon" data-toggle="modal"
						data-target="#Oasis2018_2019">
						<img src="images/pdf_icon.png" class="img-fluid" alt="icon pdf">
						<h5 class="bg_pink text-white text-center">OASIS 2018-2019</h5>
					</a>
				</div>
				<div class="col-sm-6 col-xl-3 mb-4" data-aos="fade-up" data-aos-duration="1000">
					<a href="javascript:void(0);" class="document_title_with_icon" data-toggle="modal"
						data-target="#staffInformationForCBSE">
						<img src="images/pdf_icon.png" class="img-fluid" alt="icon pdf">
						<h5 class="bg_orange text-white text-center">Staff Information for CBSE</h5>
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 col-sm-6">
						<div class="footer_content">
							<h4>Links</h4>
							<ul>
								<li><a href="javascript:routeTo('admissionInquiry')">Admission Inquiry</a></li>
								<li><a href="javascript:routeTo('transferCertificateApplicationForm')">Transfer
										Certificate Application Form</a></li>
								<li><a href="javascript:routeTo('bonafideApplicationForm')">Bonafide Application
										Form</a></li>
								<li><a href="javascript:routeTo('TNRFormatTeacherApplication')">TNR Format Teacher
										Application</a></li>
								<li><a href="javascript:routeTo('transferCertificates')">Transfer Certificates</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-7">
						<div class="footer_content">
							<h4>Quick Links</h4>
							<ul>
								<li><a href="javascript:routeTo('facilities')">Facilties</a></li>
								<li><a href="javascript:routeTo('hiTechEnvironment')">Hi Tech Environment</a></li>
								<li><a href="javascript:routeTo('intellectualDevelopment')">Intellectual Development</a>
								</li>
								<li><a href="javascript:routeTo('studentCorner')">Student Corner</a></li>
								<li><a href="javascript:routeTo('curricularActivities')">Co-Curricular Activities</a></li>
								<li><a href="javascript:routeTo('infrastructure')">infrastructure</a></li>
								<li><a href="javascript:routeTo('liveCamera')">Live Camera</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-6 col-5">
						<div class="footer_content">
							<h4>Our Links</h4>
							<ul>
								<li><a href="javascript:routeTo('index')">Home</a></li>
								<li><a href="javascript:routeTo('about')">About us</a></li>
								<li><a href="javascript:routeTo('events')">Events</a></li>
								<li><a href="javascript:routeTo('resources')">Resources</a></li>
								<li><a href="javascript:routeTo('contactUs')">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-6">
						<div class="footer_content">
							<h4>Get in Touch</h4>
							<p>
								Please input an email address down below. address down below school. Please input an
								email. Below and school.
							</p>
							<ul class="social_share">
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Call Center</h4>
							<p>
								Join the elite group of other people who signed in on our mailing list.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-6">
						<div class="footer_content">
							<h4>Contact Details</h4>
							<p>
								Behind Saurashtra Uni. Computer Bhavan, Rajkot, Gujarat 360005
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_content">
							<h4>Contact Phone</h4>
							<p>
								<span>Telephone: <a href="tel:02812970473">0281-2970473</a></span>
								<span>Email: <a
										href="mailto:principal.tnrs@gmail.com">principal.tnrs@gmail.com</a></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom text-center text-white">
			<div class="container">
				<p>© 2019 All Rights Reserved</p>
			</div>
		</div>
		<a class="back_to_top" href="javascript:void(0);">
			<i class="fa fa-chevron-up" aria-hidden="true"></i>
		</a>
	</footer>
	<div class="modal fade" id="academicCalender">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text_green">Academic Calender</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe class="pdf_documents" src="documents/Acad.Calendar2018-19.pdf"></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="cbscAffiliationLetter">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text_blue">CBSE Affiliation Letter</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe class="pdf_documents" src="documents/CBSE-AFFI.LETTER.pdf"></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="Oasis2018_2019">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text_pink">OASIS 2018-2019</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe class="pdf_documents" src="documents/Oasis2018-19.pdf"></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="staffInformationForCBSE">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text_orange">Staff Information for CBSE</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe class="pdf_documents" src="documents/StaffInfoForCBSE.pdf"></iframe>
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/TweenMax.min.js"></script>
	<script src="js/jquery.lettering.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.responsiveTabs.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>